
#register-map { height: 100%; }

.pagerank-chart{
    height: 60%;
    width: 60%;

}
#myChart {
    font-size: 50px;
    font-weight:300;
    font-family: 'Cormorant Garamond', serif;
    color: #e7d1bc;

}

html, body {
  width: 100%;
  height: 100%;

  /*overflow: hidden;*/
}

body {
  background-image: url(background-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #000;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}



.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: #ededed;
    opacity: 1;
    border: none;
    border-radius: 0;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 23px;
    /*top: 2px;*/
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #ED8429;
}

#h1left {
    color: #e7d1bc;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-style: italic;
    font-size:88px;
    text-align: right;
    padding-top: 40px;
    padding-bottom: 75px;
    margin-left:425px;
    /*margin-right:25px;*/
}

#h1right{
    color: #e7d1bc;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-style: italic;
    font-size:88px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 75px;
}

#about{
  padding-top: 135px;
}


.container-fluid{
    background: rgba(16, 10, 4, 0.7);
    width:95%;
}



h2 {
  color: #e7d1bc;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size:40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;


}
h3 {
  color: #ededed;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size:30px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 5px;


}

li {
  padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    font-size: 25px;
    color: #ededed;
    /*padding-bottom: 5px;*/

}

a {
  font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    font-size: 25px;
    color: #e7d1bc;

}

p {
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    font-size: 25px;
    color: #e7d1bc;
    padding-bottom: 25px;
  }
  #login-form input[type="email"], #login-form input[type="password"] {
  width: 300px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7d1bc;
  border-radius: 0;
  outline: none;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-style: italic;
  margin: 25px 25px 25px 125px;
}


  #register-form input[type="email"], input[type="password"] {
  width: 200px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7d1bc;
  border-radius: 0;
  outline: none;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-style: italic ;
  margin: 25px 25px 25px 25px;
}
  input[type="text"] {
  width: 200px;
  padding: 10px 0px;
  background: #ededed;
  border: 0;
  border-bottom: 1px solid #e7d1bc;
  border-radius: 0;
  outline: none;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-style: italic;
  margin: 25px 25px 25px 25px;
}
#register-form-nonmodal{
  padding-top: 100px;
}

input[type="submit"] {
  background: #fff;
  opacity:0.6;
  border: 1px solid #e7d1bc;
  /*width: 300px;*/
  /*height: 40px;*/
  margin: 25px 25px 25px 150px;
  padding: 15px 30px;
  border-radius: 3px;
  font-family: 'Cormorant Garamond', serif;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;


}
input[type="submit"]:hover {
  background: #000;
  color: #e7d1bc;
  animation-name: shake;
}


.btn {
  margin: 25px;
  padding: 15px 30px;
  border: 1px solid #e7d1bc;
  opacity:0.6;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  text-decoration: none;
  
}

.btn:hover {
    color: #e7d1bc;
    background-color: #000;
}

/** Bootstrap Dark Modal Styles **/
/*.modal-open .modal, .btn:focus {
    outline: none !important;
}*/
 
/*.modal-dialog { background-color: #2d3032; }*/
.modal-dialog .modal-body  {
  background: #ededed; 
  /*opacity:0.6;*/
}

#signup{
  color:#000;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
    font-size: 25px;
    text-align: center;

}
/*// #40464b*/
/*.modal.dark .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
  color: #ccc;
}
 
.modal.dark .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/
