{% extends 'base.html'%}
{% block content %}

 <div class="container-fluid">
        <div class="row">
            <div id="register-form-nonmodal">
                <form id="register-form" action="/register" method="POST">
              
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                   
                <input type="email" name="email" class="form-control" placeholder="Email">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="text" name="fname" class="form-control" placeholder="First Name">
                <input type="text" name="lname" class="form-control" placeholder="Last Name"> 
                <input type="text" name="dob" class="form-control" placeholder="Date of Birth"> 
                      
                </div>
            
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <input type="text" name="occupation" class="form-control" placeholder="Job Title">
                <input type="text" name="street-address" id='street-address' class="form-control" placeholder="Street Address"> 
                <input type="text" name="city" id='city' class="form-control" placeholder="City">
                <input type="text" name="state" id='state' class="form-control" placeholder="State">
                <input type="text" name="zipcode" id='zipcode' class="form-control" placeholder="Zipcode">
                </div>
                <input type="submit" value="Submit">
            </form>
            </div>
            
        </div>
        </div>   


{% endblock %}