<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barter Network</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- D3 Graphs -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- // <script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script> -->
<!-- <script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"></script> -->
    <!-- Google Font -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'> -->

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">

   <!-- nav bar -->
      <nav class="navbar navbar-default navbar-fixed-top">
      <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
          <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <li><a class="navbar-brand" href="/">Barter Network </a></li>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            
          </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if 'user_id' in session %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Barter Out!</a></li>
             <li><a href="/users/{{ session['user_id'] }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          {% else %}

            <li><a href="#signupModal" data-toggle="modal" data-target="#signupModal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#loginModal" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
            
          {% endif %}
        </ul>
      <!-- </div> -->
      </div>
    </nav>

   <!-- flash messages -->

   <!-- hr -->
    <ul>
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>


</head>
<body >

<!-- LOG IN MODAL -->
   <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header"> -->
              <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
              <!-- <h4 class="modal-title" id="myModalLabel">Log In</h4> -->
          <!-- </div> -->
          <div class="modal-body">
              <form id="login-form" action='/login' method='POST'>
                <p id="signup">Log In to SwiftSwap</p>

              <input type="email" name="email" class="form-control" placeholder="Your Email">
              <input type="password" name="password" class="form-control" placeholder="Your Password">
              <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Log In</button> -->

              <input type='submit' name='login'>
          
              <button type="button" class="btn btn-default right" data-dismiss="modal">Close</button>
        
              </form>
          </div>
          
      </div>
  </div>
  </div>

<!-- SIGN UP MODAL  -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header"> -->
              <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
              <!-- <h4 class="modal-title" id="myModalLabel">Log In</h4> -->
          <!-- </div> -->
          <div class="modal-body">
            <div class="row">
            <form id="register-form" action="/register" method="POST">
              <p id="signup">Sign Up for SwiftSwap</p>
              <div class="col-md-6 left">


                <input type="email" name="email" class="form-control" placeholder="Email">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="text" name="fname" class="form-control" placeholder="First Name">
                <input type="text" name="lname" class="form-control" placeholder="Last Name"> 
                <input type="text" name="dob" class="form-control" placeholder="Date of Birth">  
                </div>   

                <div class="col-md-6 right">
                
                <input type="text" name="occupation" class="form-control" placeholder="Job Title">
                <input type="text" name="street-address" id='street-address' class="form-control" placeholder="Street Address"> 
                <input type="text" name="city" id='city' class="form-control" placeholder="City">
                <input type="text" name="state" id='state' class="form-control" placeholder="State">
                <input type="text" name="zipcode" id='zipcode' class="form-control" placeholder="Zipcode">
               </div>
                <input type="submit" value="Submit">
                <button type="button" class="btn btn-default right" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
          <!-- <div class="modal-footer"> -->
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
              
          <!-- </div> -->
          
      </div>
  </div>
  </div>




{% block content %}



YOUR CONTENT HERE




{% endblock %}


<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>