{% extends 'base.html' %}
{% block content %}
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>
<!-- Graph by Mike Bostock 
http://bl.ocks.org/mbostock/4062045 -->
<!-- <script src="https://d3js.org/d3.v4.min.js"></script>
 -->

    <p><h1>Welcome to Barter Network</h1></p>
    <p>We are here to provide alternatives to the current economical model</p>

    <!-- <div id="d3-container">< /div> -->

<svg width="1060" height="1000"></svg>

<!-- Chart JS -->

<div class="pagerank-chart">
    <canvas id="myChart" width="100" height="100"></canvas>
    <!-- <div id="chartlegend" class="chart-legend"></div> -->
  </div>

<!-- <script src="Chart.js"></script> -->


<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-15))
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("/network_graph.json", function(error, graph) {
  if (error) throw error;

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      // .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
      .attr("stroke-width", 1);

  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 5)
      .attr("fill", function(d){return color(d.name); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("title")
      .text(function(d) { return d.name; });

  link.append("title")
      .text(function(d) { return d.name; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

</script>



<script>
  var options = {
      responsive: true
    };

    var ctx_donut = $("#myChart").get(0).getContext("2d");

    $.get("/pagerank.json", function (data) {
      var myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#chartlegend').html(myDonutChart.generateLegend());
    });
</script>


{% endblock %}
