{% extends 'base.html' %}
{% block content %}

   <div class="container-fluid">
        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                    <h1 id="h1left">Swift</h1>
                    <h2>Our Network</h2>
                    
                      <div class="network-graph"> 
                        
                      <svg width="500" height="500"></svg>
                      </div>
                      

                      
                      
                      
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                    <h1 id="h1right">Swap</h1>
                    <!-- <div class="col-md-4 col-md-offset-3"> -->
                      <h2>About Us</h2>
                      <p>When bartering skills or goods it's hard to find someone who is looking for your particular offering deeming the whole exchange pointless.</p>
                      <p>We at SwiftSwap believe that does not need to be the case.</p>

                      
                       
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                    
                      
                      <h2>About Us</h2>
                      <p>We are here to provide alternatives to the current economical model</p>

                      
                      
                      
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                  <!-- Chart JS -->
                      <h2>Pagerank Donut of Our Network</h2>
                      <p>How connected are you?<br>
                      Incoming node connections: frequency with which skills we are looking for (want) are being provided<br>
                      How quickly your needs will be satisfied</p>
                      <div class="pagerank-chart">
                      <canvas id="myChart" width='200' height='200'></canvas>
                    </div>
                      <!-- <div id="chartlegend" class="chart-legend"></div> -->
                      

                      
                    
                </div>
            </div>
        </div>
    </div>


<style>

.links line {
  stroke: #999;
  stroke-opacity: 10;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>


    



<!-- D3 Forced Layout Network Graph by Mike Bostock 
http://bl.ocks.org/mbostock/4062045 -->
<script>
"use strict";

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-30))
    .force("center", d3.forceCenter(width / 2, height / 2));

//Toggle stores whether the highlighting is on
var toggle = 0;
//Create an array logging what is connected to what
var linkedByIndex = {};

d3.json("/network_graph.json", function(error, graph) {
  if (error) throw error;
//arrows
  svg.append("defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
  .enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 25)
    .attr("refY", 0)
    .attr("markerWidth", 8)
    .attr("markerHeight", 9)
    .attr("orient", "auto")
  .append("path")
    .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
    .style("stroke", "#999") //,"#4679BD"
    .style("opacity", "10");

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      // .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
      .attr("stroke-width", 1.05)
      .style("marker-end",  "url(#suit)") ;

for (var i = 0; i < graph.nodes.length; i++) {
    linkedByIndex[i + "," + i] = 1;
};
graph.links.forEach(function (d) {
    linkedByIndex[d.source.index + "," + d.target.index] = 1;
});
//This function looks up whether a pair are neighbours
function neighboring(a, b) {
    return linkedByIndex[a.index + "," + b.index];
}


  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 6)
      .attr("fill", function(d){return color(d.name); }) 
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
      .on('dblclick', connectedNodes); //Added code
   

  node.append("title")
      .text(function(d) { return d.name; });

  link.append("title")
      .text(function(d) { return d.name; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
     // node.each(collide(0.5)); //Added 
  }

});
function connectedNodes() {
    if (toggle == 0) {
        //Reduce the opacity of all but the neighbouring nodes
        d = d3.select(this).node().__data__;
        node.style("opacity", function (o) {
            return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
        });
        link.style("opacity", function (o) {
            return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
        });
        //Reduce the op
        toggle = 1;
    } else {
        //Put them back to opacity=1
        node.style("opacity", 1);
        link.style("opacity", 1);
        toggle = 0;
    }
}

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}
</script>



<script>
"use strict";
  var options = {
      responsive: true
  
    };

    var ctx_donut = $("#myChart").get(0).getContext("2d");
    Chart.defaults.global.defaultFontColor = "#fff";

    $.get("/pagerank.json", function (data) {
      var myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#chartlegend').html(myDonutChart.generateLegend());
    });
</script>


{% endblock %}
