{% extends 'base.html' %}
{% block content %}

   <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <h1 id="h1">SwiftSwap</h1>
        
      </div>
    </div>
        <div class="row">
            <div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                    <!-- <h1 id="h1left">Swift</h1> -->
                    <h2>Our User Network</h2>
                    
                      <div class="network-graph"> 
                        
                      <svg width="700" height="700"></svg>
                      </div>
              </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                    <!-- <h1 id="h1right">Swap</h1> -->
                    <!-- <div class="col-md-4 col-md-offset-3"> -->
                      <div></div>
                      <h2>About Us</h2>
                      <p>When bartering its hard to find what you want from the person who will barter for the skill you have. Enter SwiftSwap - it searches the user network to find a closed path between users which means every user gets access to the skill they want without a one to one exchange.<br>
                      At SwiftSwap, we are utilizing a NetworkX method of finding elementary circuits based on Johnson's algorithm called simple_cycles.
                        It allows us to locate a closed loop where the beginning and ending of the path is the same user.</p>

                      
                       
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                    
                      <h2>Pagerank of Our Network</h2>
                      <p>Using Pagerank algorithm we can determine how quickly users' wanted skills will be satisfied within our network.</p>
                        <p>Pagerank rates users based on incoming connections that means the 
                      frequency with which skills you want are being provided.</p>
                      
                      
                      
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                  <!-- Chart JS -->
                      <h2>Our Five Most Popular Users</h2>
                      <p>For these five users, skills they want are the most popular offerings on our network.</p> 
                    
                      <div class="pagerank-chart">
                      <canvas id="myChart" width='200' height='200'></canvas>
                    </div>
                      <!-- <div id="chartlegend" class="chart-legend"></div> -->
                      

                      
                    
                </div>
            </div>
        </div>
    </div>


<style>

.links line {
  stroke: #999;
  stroke-opacity: 10;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 14px helvetica;
  fill: #ededed;
}

</style>


    



<!-- D3 Forced Layout Network Graph by Mike Bostock 
http://bl.ocks.org/mbostock/4062045 -->
<script>
"use strict";



var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-50))
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("/network_graph.json", function(error, graph) {
  if (error) throw error;
//arrows
  svg.append("defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
  .enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 25)
    .attr("refY", 0)
    .attr("markerWidth", 8)
    .attr("markerHeight", 9)
    .attr("orient", "auto")
  .append("path")
    .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
    .style("stroke", "#999") //,"#4679BD"
    .style("opacity", "12");

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      // .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
      .attr("stroke-width", 2.05)
      .style("marker-end",  "url(#suit)") ;//url(#suit)


  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 8)
      .attr("fill", function(d){return color(d.name); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

node.append("text")
    .attr("dx", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name });


var text = svg.append("g")
    .attr("class", "labels")
  .selectAll("text")
    .data(graph.nodes)
  .enter().append("text")
    .attr("dx", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name });


  // node.append("title")
  //     .text(function(d) { return d.name; });

  link.append("title")
      .text(function(d) { return d.name; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });

 // d3.selectAll("circle").attr("cx", function (d) {
 //        return d.x;
 //    })
 //        .attr("cy", function (d) {
 //        return d.y;
 //    });

    // text
    // .attr("x", function (d) {return d.x; })
    // .attr("y", function (d) {return d.y;});
    d3.selectAll("text").attr("x", function (d) {
        return d.x;
    })
        .attr("y", function (d) {
        return d.y;
    });
    
  }

});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}
</script>



<script>
"use strict";
  var options = {
      responsive: true
  
    };

    var ctx_donut = $("#myChart").get(0).getContext("2d");
    Chart.defaults.global.defaultFontColor = "#fff";

    $.get("/pagerank.json", function (data) {
      var myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#chartlegend').html(myDonutChart.generateLegend());
    });
</script>


{% endblock %}
