{% extends 'base.html'%}
{% block content %}
<style type="text/css">#register-map { height: 400px; }</style>

    <form id="register-form" action="/register" method="POST">

        <h3>Sign Up Section</h3>

        <p><label>Username/Email </label><input type="email" name="email"></p>
        <p><label>Password </label><input type="password" name="password"></p>
        <p><label>First Name </label><input type="text" name="fname"></p>
        <p><label>Last Name </label><input type="text" name="lname"></p>        
        
        <p><label>DOB </label><input type="text" name="dob"></p>
        <p><label>Occupation </label><input type="text" name="occupation"></p>
        <p><label>Street Address</label><input type="text" name="street-address" id='street-address'></p>
        <p><label>City </label><input type="text" name="city" id='city'></p>
        <p><label>State </label><input type="text" name="state" id='state'></p>
        <p><label>Zipcode </label><input type="text" name="zipcode" id='zipcode'></p>
       
        <p><input type="submit" value="Submit"></p>
    </form>

    <div id="register-map"></div>


    <script type="text/javascript">
    var map;
    var geocoder;

    function initMap() {
        console.log("inside initmap");
      var myLatLng = {lat: 0, lng: 0};
      var mapOptions = { 
        center: myLatLng,
        scrollwheel: false,
        zoom: 5,
        zoomControl: true,
        panControl: false,
        streetViewControl: false,
        // styles: MAPSTYLES,
        mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    var infoWindow = new google.maps.InfoWindow({
          width: 150
      });
    debugger;

      map = new google.maps.Map(document.getElementById('register-map'), mapOptions);

      geocoder = new google.maps.Geocoder();
      var streetAddress = document.getElementById('street-address').value;
      var city = document.getElementById('city').value;
      var state = document.getElementById('state').value;
      var zipcode = document.getElementById('zipcode').value;
      debugger;

      var address = streetAddress+','+city+','+state
      geocoder.geocode({'address': address}, function(results, status){
        if (status=='OK'){
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        } else {
            alert('Geocode was not successful for the following reason'+ status);
        }
      });
  }

  $('#register-form').on('submit',function(evt){
    evt.preventDefault();
    console.log('we are here');
    initMap();
   })

  

    

    // google.maps.event.addDomListener(window, 'load', initMap);

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{map_key_api}}&callback=initMap"></script>


{% endblock %}