<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barter Network</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="jsnetworkx.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Barter Network </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if 'user_id' in session %}
    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Barter Out!</a></li>
    {% else %}

      <li><a href="/register" data-toggle="modal" data-target=="#basicModal"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
      <li><a href="/login" data-toggle="modal" data-target=="#basicModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      
{% endif %}
    </ul>
  </div>
</nav>

   <hr>
    <ul>
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

</head>
<body>



{% block content %}
YOUR CONTENT HERE
{% endblock %}

    
</body>
</html>