{% extends 'base.html' %}
{% block content %}




    
<!--Modal Window-->    

    <div class="modal fade bs-example-modal-sm" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form id="login">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
         
          </div>
          <button type="submit" class="btn btn-default">Log in</button>
        </form>
      </div>
    </div>
  </div>



    <p><h1>Welcome to Barter Network</h1></p>
    <p>We are here to provide alternatives to the current economical model</p>


<script>var jsnx = require('jsnetworkx');

// This creates a new empty, undirected graph
var G = new jsnx.Graph();
 
// Generates a complete graph with six nodes
var G = jsnx.completeGraph(6);
 
// Generates a random graph with six nodes and
// an edge between each node is created with a probability of 0.3
var G = jsnx.binomialGraph(6, 0.3);

</script>


{% endblock %}
